# Pinecone Configuration
PINECONE_API_KEY="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"
PINECONE_INDEX_NAME=csea-assistant

# Groq Configuration
GROQ_API_KEY="pcsk_n6o2r_M4PJiZxySqvLqgNNtDZhWmiiyZHSj77J9faerc9L21acyjG6zqfYgTAVnWoUfG2"

SUPABASE_URL=https://vmsgllaubkzlewtytfkn.supabase.co
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtc2dsbGF1Ymt6bGV3dHl0ZmtuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMzg0NTYsImV4cCI6MjA4NTYxNDQ1Nn0.UiDS8H-y2dWIumjh7P7t__LOtsZcFF2vSBW_q5mBS4M"
