# Pinecone Configuration
PINECONE_API_KEY="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"
PINECONE_INDEX_NAME=csea-assistant

# Groq Configuration
GROQ_API_KEY="pcsk_n6o2r_M4PJiZxySqvLqgNNtDZhWmiiyZHSj77J9faerc9L21acyjG6zqfYgTAVnWoUfG2"
