streamlit
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
langchain-groq
langchain-chroma
langchain-pinecone
chromadb
pinecone-client>=3.0.0
python-dotenv
pillow
sentence-transformers
easyocr
pandas
openpyxl
pytesseract
python-docx
PyMuPDF
rank_bm25
supabase
plotly 
ragas 
datasets
pdfplumber
nest-asyncio
numpy
langsmith