streamlit
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
langchain-groq
langchain-chroma
langchain-pinecone
chromadb
python-dotenv
pillow
sentence-transformers
easyocr
pandas
openpyxl
pytesseract
python-docx
PyMuPDF>=1.23.0
rank_bm25
supabase
plotly 
ragas 
datasets
pdfplumber
opencv-python-headless
numpy
tabulate
nest-asyncio
tenacity
filelock
